# Настройки сервера
YOLO_WORLD_FASTAPI_HOST=0.0.0.0
YOLO_WORLD_FASTAPI_PORT=8001
YOLO_WORLD_FASTAPI_WORKERS_COUNT=1
YOLO_WORLD_FASTAPI_RELOAD=False
YOLO_WORLD_FASTAPI_ENVIRONMENT=production
YOLO_WORLD_FASTAPI_LOG_LEVEL=INFO

# Настройки детекции YOLO World
YOLO_WORLD_FASTAPI_LABEL_CLASSES=["electronics","furniture","toys","sports","cosmetics","tools","decor","health","computers","hygiene","misc","other","merch","accessories","item","dishes","lights","carpet","plant","dress","shoes","pants"]
YOLO_WORLD_FASTAPI_IOU_THRESHOLD=0.5
YOLO_WORLD_FASTAPI_SCORE_THRESHOLD=0.20
YOLO_WORLD_FASTAPI_MAX_NUM_DETECTIONS=5
YOLO_WORLD_FASTAPI_MIN_AREA_RATIO=0.003

# Настройки качества обработки изображений
YOLO_WORLD_FASTAPI_IMAGE_INTERPOLATION=cubic
YOLO_WORLD_FASTAPI_IMAGE_QUALITY_MODE=balanced

# Настройки визуализации
YOLO_WORLD_FASTAPI_CIRCLE_RADIUS_PERCENT=0.04
YOLO_WORLD_FASTAPI_TEXT_SCALE=2
YOLO_WORLD_FASTAPI_TEXT_THICKNESS=3

# Настройки MinIO
YOLO_WORLD_FASTAPI_MINIO_ENDPOINT=minio.example.com
YOLO_WORLD_FASTAPI_MINIO_ACCESS_KEY=
YOLO_WORLD_FASTAPI_MINIO_SECRET_KEY=
YOLO_WORLD_FASTAPI_MINIO_BUCKET=yolo-models
YOLO_WORLD_FASTAPI_MINIO_SECURE=True
YOLO_WORLD_FASTAPI_SKIP_MODEL_DOWNLOAD=False 